@model string

@{
    ViewBag.Title = "Tasktwo";
}

<h2>Task Two</h2>

@using (Html.BeginForm("phasereverse", "Home"))

{ 

    <label for="inputphase"> Please Type a phrase</label>
    <br/>
    <input type="text" name="phase" id="phase" value="" size="50" />
    <br/>
    <input type="submit" name="submit" value="Reverse"/>

    
}